name: Deploy Documentation
on:
    push:
        branches:
            - main
            - master # Include 'master' for older repositories

# Allow this job to push to the gh-pages branch
permissions:
    contents: write

jobs:
    deploy-docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install uv
              uses: astral-sh/setup-uv@v3
              with:
                  version: "latest"

            - name: Install system dependencies
              run: sudo apt-get update && sudo apt-get install -y libasound2-dev

            - name: Install dependencies
              # Ensure the docs group is installed
              run: uv sync --group docs

            - name: Deploy to GitHub Pages
              # This command builds the site and pushes it to the gh-pages branch
              run: uv run mkdocs gh-deploy --force
